#!/bin/bash

# .bootstrap/Brewfile hash: {{ include "dot_bootstrap/Brewfile" | sha256sum }}
printf "\033[0;34mStep 1: Install all/new brew packages/cask"
printf ""

bash {{ joinPath .chezmoi.sourceDir "dot_bootstrap/install-packages.sh.tmpl" }}
