#!/bin/bash

{{ if (eq .chezmoi.os "darwin") -}}

# .bootstrap/Brewfile hash: {{ include "dot_bootstrap/Brewfile" | sha256sum }}
printf "\033[0;34mStep 1: Install all/new brew packages/cask\033[0m\n\n"

bash {{ joinPath .chezmoi.sourceDir "dot_bootstrap/install-packages.sh" }}

{{ end -}}
