#!/bin/bash
{{ if (eq .chezmoi.os "darwin") -}}

# Dock
printf "\033[0;34mSetup dock\033[0m\n"

defaults write com.apple.dock orientation -string "right"
defaults write com.apple.dock "tilesize" -int 43
defaults write com.apple.dock minimize-to-application -bool false
defaults write com.apple.dock launchanim -bool true
defaults write com.apple.dock show-process-indicators -bool true
defaults write com.apple.dock show-recents -bool false
defaults write -g NSWindowShouldDragOnGesture -bool true
defaults write com.apple.loginwindow LoginwindowLaunchesRelaunchApps -bool false

killall Dock

printf "\033[0;34mDock is restarting...\033[0m\n\n"

{{ end -}}
